<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>

  <div class="container">
    <h1>Welcome to the St Johns Library Catalog</h1>
    <hr />
    <h4><a href="/authors">View Authors in Catalog</a></h4>
    <h4><a href="/books">View Books in Catalog</a></h4>
  </div>


</body>
</html>
