
body {
  background-image: linear-gradient(to right, #649173, #dbd5a4);
  font-family: sans-serif;
}

.container {
  color: #000000;
  /* margin-top: 100px; */
  padding: 15px;
  background-color: #FFFFFF;
}

a {
  margin: 50px;
  color: #093028;
}

a:hover {
  color: #237a57;
}

.libphoto {
  margin-top: 60px;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

form {
  text-align: center;
  margin-bottom: 25px;
}
