<h1>Staff only</h1>
<h2>Add new author</h2>
<hr />

<form action="/authors" method="post">
  <label for="name">Author name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>
