<h1>Staff only</h1>
<h2>Add new author</h2>
<hr />

<form action="/authors" method="post">
  <label for="authorName">Author name:</label>
  <input id="authorName" name="authorName" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>
