<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="libphoto">
  <center><img src="https://www.rachaelwhitaker.com/images/Portfolio/stjohns" alt="bridge image"></center>
</div>
<div class="container">


  <h1>Staff only</h1>
  <h2>Add new author</h2>
  <hr />

  <form action="/authors" method="post">
    <label for="name">Author name:</label>
    <input id="name" name="name" type="text">
    <button type="submit" class="btn btn-dark">Add</button>
  </form>

  <h4><a href="/">Return home</a></h4>
</div>

</body>
</html>
